body {
    background-color: blue;
}

.groupCard {
    width: 70%;
    border: solid 2px black;
}

.taskCard {
    display: flex;
    gap: 1rem;
    border: solid 2px rgb(215, 11, 11);
}

.crossed{
    text-decoration: line-through;
    }

form {
    display: flex;
    flex-direction: column;
}
