body {
    background-color: rgb(56, 56, 156);
}

button, .deleteButton, .editButton, .expandButton {
    cursor: pointer;
}

#collectionMenuTitle {
    font-size: 2rem;
}

#collectionMenu {
    border: solid 2px rgb(57, 196, 168);
    margin-bottom: 1rem;
}

.collectionMenuItem {
    display: flex;
    align-items: center;
}

.collectionMenuItem:hover {
    background-color: rgba(75, 75, 75, 0.5);
    cursor: pointer;
}

.groupCard {
    width: 70%;
    border: solid 2px black;
}

/*Tasks*/

.taskCard {
    border: solid 2px rgb(215, 11, 11);
    overflow: hidden;
}

.basicView {
    -display: flex;
    -justify-content:;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 1fr;
    margin: 0.5rem;
}

.basicView > * {
    margin: 0.5rem;
}

.dueDate {
    text-align: center;
}

.taskButtonDiv {
    display: flex;
    gap: 0.5rem;
}

.taskDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    -margin: 0.5rem;
    transition: height 0.5s, opacity 0.5s ease-out;
}

.hidden {
    display: none;
}

.notesDiv, .checkDiv, .basicView {
    background-color: rgb(73, 88, 101);
    border-radius: 1rem;
    padding: 0.5rem;
}

.crossed{
    text-decoration: line-through;
}

form {
    display: flex;
    flex-direction: column;
}
